@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #0018f2;
    text-decoration: none;
}

button {
    cursor: pointer;
}

button a {
    display: block; /* torna o link um elemento block */
    width: 100%; /* faz o link preencher todo o espaço disponível */
    height: 100%; /* faz o link preencher todo o espaço disponível */
    text-align: center; /* centraliza o texto vertical e horizontalmente */
    text-decoration: none;
    color: #000;
}

/* Corpo do site */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background: url(../images/background-cadastro.png), linear-gradient(to bottom, #f9cec1, #ec8371);
}

.container-big {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background: url(../images/background-cadastro.png), linear-gradient(to bottom, #f9cec1, #ec8371);
}

/* Imagem do Supernutri */
#logo img{
    width: 250px;
}   

/* Caixa que contem os elementos de cadastro */
#cadastro-box {
    width: 350px;
    border-radius: 10px;
    background: #ff715b;
}

#cadastro-box h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 30px;
}

label {
    display: block;
    padding: 10px 0px 5px 5px;
    margin-left: 10px
}

input {
    margin-left: 15px;
    width: 300px;
    padding: 6px;
    margin-bottom: 5px;
    border: none;
    box-shadow: 0px 1.5px 5px #000000a4;
}

select {
    margin-left: 15px;
    width: 315px;
    padding: 3px;
    margin-bottom: 5px;
    border: none;
    box-shadow: 0px 1.5px 5px #000000a4;
}

button {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 75px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 200px;
    font-size: 1.2em;
    box-shadow: 2px 2px 10px #000000a4;
}

/* Texto que redireciona para a tela de login */
#cadastro-box p {
    padding-left: 40px;
    padding-bottom: 15px;
    font-size: 1em;
}
/* --------------------------------------------------------- */

/* Caixa que contém os elementos da tela de login */
#conectar-box {
    width: 350px;
    border-radius: 10px;
    background: #ff715b;
}

#conectar-box h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 30px;
}

#conectar-box label {
    display: block;
    padding: 5px;
    margin-left: 10px
}

#conectar-box input{
    margin-left: 15px;
    width: 300px;
    padding: 6px;
    margin-bottom: 5px;
    border: none;
    box-shadow: 0px 1.5px 5px #000000a4;
}

#conectar-box button {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    margin-left: 80px;
    padding: 9px;
    width: 200px;
    box-shadow: 2px 2px 10px #000000a4;
    font-size: 1em;
}

 #texto-formas-login {
    margin-left: 110px;
    font-size: 1.1em;
}

/* Linha preta ilustrativa */
.linha-botao {
    border-top: 2px solid #000;
    margin-top: 10px;
    width: 310px;
    margin-left: 15px;
}

/* Div que contém os botões de login pelo google e facebook */
.login-google-facebook {
    width: 350px;
    height: 70px;
}

#login-google {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 5px;
    float: left;
    box-shadow: 2px 2px 10px #000000a4;
}

#login-facebook {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 10px;
    margin-right: 115px;
    margin-top: 5px;
    float: right;
    box-shadow: 2px 2px 10px #000000a4;
}

#login-google img {
    width: 37px;
    margin: 5px;
}

#login-facebook img {
    width: 40px;
    margin: 5px;
}

#esqueci-senha a{
    margin-left: 95px;
    font-size: 1em;
}

#retorno-cadastro {
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1em;
}

/* --------------------------------------------------------- */
/* Conteúdo da página "esqueci minha senha" */
#esqueci-senha-box {
    width: 350px;
    border-radius: 10px;
    background: #ff715b;
}

#esqueci-senha-box h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 30px;
}

#esqueci-senha-box label {
    display: block;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

#esqueci-senha-box input{
    margin-left: 15px;
    width: 300px;
    padding: 6px;
    margin-bottom: 25px;
    border: none;
    box-shadow: 0px 1.5px 5px #000000a4;
}

#esqueci-senha-box button {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    margin-left: 80px;
    padding: 10px;
    width: 200px;
    box-shadow: 2px 2px 10px #000000a4;
    font-size: 1em;
    text-align: center;
}

#texto-esqueci-senha {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 10px;
}

#esqueci-senha-cancelar {
    text-align: center;
    font-size: 1em;
    padding-bottom: 20px;
}
/* --------------------------------------------------------- */
/* Página de "Veja seus pequenos" */
#header-veja-seus-pequenos {
    background: linear-gradient(to top, #e47b6a, #E86652);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

#header-veja-seus-pequenos h2 {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

#criancas-cadastradas {
    width: 400px;
    margin-top: 20px;
    border-radius: 10px;
    background: #FF715B;
}

.slots-criancas {
    width: 370px;
    height: 100px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #F8CDC0;
    box-shadow: 0px 4px 3px rgba(37, 37, 37, 0.5);
}

.avatar-perfil img {
    float: left;
    width: 70px;
    background: #E86652;
    border-radius: 35px;
    width: 70px;
    margin-top: 13px;
    margin-left: 8px;
    box-shadow: 0px 4px 3px rgba(37, 37, 37, 0.5);
}

.nome-crianca h3 {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
    display: inline;
    text-shadow: 0px 3px 3.5px rgba(37, 37, 37, 0.5);
}

  
.nome-crianca h3, .icones-monitorar-crianca {
    float: right;
    width: 70%;
}

.icones-monitorar-crianca {
    margin-top: 15px;
}

.icone-jogos-crianca img {
    padding: 2px 25px 2px 25px;
    margin-left: 40px;
    background: #E86652;
    border-radius: 10px;
    float: left;
    box-shadow: 2px 8px 3px rgba(37, 37, 37, 0.3);
}

.icone-graficos-crianca img {
    padding: 2px 25px 2px 25px;
    margin-right: 30px;
    background: #E86652;
    border-radius: 10px;
    float: right;
    box-shadow: 2px 8px 3px rgba(37, 37, 37, 0.3);
}

#avatar-perfil-adicionar {
    float: left;
    width: 70px;
    height: 70px;
    background: #E86652;
    border-radius: 35px;
    margin-top: 13px;
    margin-left: 150px;
}

#avatar-perfil-adicionar img {
    width: 65px;
    height: 59px;
    margin: 2px;
    margin-top: 5px;
}

#slots-criancas-bloq {
    width: 370px;
    height: 100px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: rgba(248, 205, 192, 0.7);
    box-shadow: 0px 4px 3px rgba(37, 37, 37, 0.5);
}

#slots-criancas-bloq2 {
    width: 370px;
    height: 100px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: rgba(248, 205, 192, 0.5);
    box-shadow: 0px 4px 3px rgba(37, 37, 37, 0.5);
}

#slots-criancas-bloq3 {
    width: 370px;
    height: 100px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: rgba(248, 205, 192, 0.2);
    box-shadow: 0px 4px 3px rgba(37, 37, 37, 0.5);
}
/* --------------------------------------------------------- */
/* Cadastro de perfis */
#criancas-cadastro-box {
    width: 350px;
    margin-top: 20px;
    border-radius: 10px;
    background: #ff715b;
    background-image: url(../images/2\ 1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 200px;
}

#criancas-cadastro-box p {
    padding-left: 25px;
    padding-bottom: 15px;
    font-size: 1em;
}

.bananoide-cadastro {
    width: 200px;
    margin-left: 10px;
    float: left;
}

#header-veja-seus-pequenos a{
    color: #000;
    float: left;
    display: inline;
}

/* --------------------------------------------------------- */
/* Área das Crianças */
#header-area-criancas {
    margin: 0 auto;
    background: url(../images/wave-haikei.png);
    border-end-end-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    padding: 30px;
}

#header-area-criancas img {
    float: left;
    margin-left: -40px;
}

#header-area-criancas h2 {
    text-align: start;
}

#area-criancas-box {
    width: 350px;
    margin-top: 20px;
    border-radius: 20px;
    background: #FF715B;
    background-image: url(../images/wave-haikei\ \(2\).png);
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    padding: 30px;
}

#area-criancas-box h2 {
    font-size: 1.9em;
    text-transform: uppercase;
}

#opcao-jogos {
    background: url(../images/esquerda-jogos.png) no-repeat left top;
    padding: 13px;
    margin: 0;
    width: 100%;
    background-color: #F8CDC0;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 1em;
}

#opcao-customizar {
    background: url(../images/customizar.png) no-repeat left top;
    padding: 13px;
    margin: 0;
    width: 100%;
    background-color: #F8CDC0;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 1em;
}

#opcao-quiz {
    background: url(../images/quiz.png) no-repeat left top;
    padding: 13px;
    margin: 0;
    width: 100%;
    background-color: #F8CDC0;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 1em;
}

#opcao-nutrinhos {
    background: url(../images/nutrinhos.png);
    padding: 13px;
    margin: 0;
    width: 100%;
    background-color: #F8CDC0;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 1em;
}
/* Star-bar */
#star-bar {
    text-align: center;
    padding-bottom: 20px;
}

#star-bar img {
    float: left;
}

#barra-progresso {
    background: #D9D9D9;
    width: 80%;
    float: right;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 2px;
    margin-top: 13px;
}

#star-bar p{
    clear: both;
    width: 70%;
    margin-left: 80px;
    font-size: 1em;
    font-weight: bold;
}
/* --------------------------------------------------------- */
/* Nutrinhos */

#header-nutrinhos {
    margin: 0 auto;
    background: linear-gradient(to top, #e47b6a, #E86652);
    border-end-end-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    padding: 30px;
}

#header-nutrinhos h2 {
    padding-top: 30px;
}

#nutrinhos-box {
    width: 400px;
    margin-top: 20px;
    border-radius: 10px;
    background: #FF715B;
   
}

.slots-nutrinhos {
    width: 370px;
    height: 150px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #F8CDC0;
    box-shadow: 0px 4px 3px rgba(37, 37, 37, 0.5);
}

.foto-nutrinho {
    float: left;
}

.foto-nutrinho img {
    width: 95px;
    margin-top: 30px;
}

.slots-nutrinhos h3 {
    font-size: 1.3em;
    padding: 3px;
}

.sobre-nutrinho p{
    font-size: 0.9em;
    padding: 2px;
}
/* Classe para a formatação da foto do bananoide */
.foto-nutrinho-esp {
    float: left;
}

.foto-nutrinho-esp img {
    width: 88px;
    margin-top: 30px;
    margin-left: 10px;
}
/* Botão voltar */
#header-nutrinhos a{
    color: #000;
    float: left;
    display: inline;
    margin-top: 30px;
}
/* --------------------------------------------------------- */
/* Página de Jogos */
#header-jogos{
    margin: 0 auto;
    background: url(../images/wave-haikei.png);
    border-end-end-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: left;
    padding: 20px;
    width: 90%;
    text-align: center;
}

#header-jogos img {
    float: right;
    width: 100px;
    margin-right: -30px;
}

#header-jogos h2 {
    padding-top: 30px;
    font-size: 1.6em;
}

#header-jogos a{
    color: #000;
    float: left;
    display: inline;
    margin-top: 35px;
}

#jogos-box {
    width: 350px;
    margin-top: 20px;
    border-radius: 20px;
    background: #FF715B;
    text-align: center;
    padding: 30px;
}

#jogo1 {
    background: url(../images/jogo-1.png) no-repeat left top;
    padding: 13px;
    margin: 0;
    width: 100%;
    height: 87px;
    background-color: #F8CDC0;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 1.2em;
    line-height: 65px;
}

#jogo2 {
    background: url(../images/jogo-2.png) no-repeat left top;
    padding: 13px;
    margin: 0;
    width: 100%;
    height: 87px;
    background-color: #F8CDC0;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 1.2em;
    line-height: 65px;
}

#jogo3 {
    background: url(../images/jogo-3.png) no-repeat left top;
    padding: 13px;
    margin: 0;
    width: 100%;
    height: 87px;
    background-color: #F8CDC0;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: 1.2em;
    line-height: 65px;
}

#jogo-bloqueado1 {
    background: url(../images/Monstro\ do\ fastfood.png) no-repeat center;
    margin: 0;
    width: 100%;
    height: 87px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px #000000a4;
}

#jogo-bloqueado1 img {
    width: 75px;
    margin: 5px;
}

#jogo-bloqueado2 {
    background: url(../images/falta\ de\ nutrientes.png) no-repeat center;
    margin: 0;
    width: 100%;
    height: 87px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px #000000a4;
}

#jogo-bloqueado2 img {
    width: 75px;
    margin: 5px;
}

#jogo-bloqueado3 {
    background: url(../images/doenças\ agravadas.png) no-repeat center;
    margin: 0;
    width: 100%;
    height: 87px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px #000000a4;
}

#jogo-bloqueado3 img {
    width: 75px;
    margin: 5px;
}

#jogo-bloqueado4 {
    background: url(../images/printf.png) no-repeat center;
    margin: 0;
    width: 100%;
    height: 87px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 10px #000000a4;
}

#jogo-bloqueado4 img {
    width: 75px;
    margin: 5px;
}